@import url('https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap');
body {
  font-family: 'General Sans', sans-serif;
}

.grad1 {
  /* height: 200px; */
  background-image: linear-gradient(to left, #6BCED8, #874C97);
}
.grad2 {
  /* height: 200px; */
  background-image: linear-gradient(to left, transparent, #6BCED8);
}
.flip{
  animation: flip 0.7s;
}
@keyframes flip {
  from{
    transform :rotateY(95deg);
  }
  to{
    transform :rotateY(0deg);
  }
}

.hr{
  border-bottom: 1px solid rgb(169, 169, 169);
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.spinner{
  width: 40px;
  height: 40px;
  border: 5px solid green;
  border-radius: 100px;
  border-top: 5px solid transparent;
  margin: auto;
  margin-top: 200px;
  animation: spinner 1s;
  animation-iteration-count: infinite;
}
@keyframes spinner {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}