@import url('https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap');
body {
  font-family: 'General Sans', sans-serif;
}

.grad1 {
  /* height: 200px; */
  background-image: linear-gradient(to left, #6BCED8, #874C97);
}
.grad2 {
  /* height: 200px; */
  background-image: linear-gradient(to left, transparent, #6BCED8);
}
.flip{
  animation: flip 0.7s;
}
@keyframes flip {
  from{
    transform :rotateY(95deg);
  }
  to{
    transform :rotateY(0deg);
  }
}

.hr{
  border-bottom: 1px solid rgb(169, 169, 169);
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}